<!DOCTYPE HTML lang="en">

<head>

	<title> Blogs </title>
	<link href="/static/output.css" rel="stylesheet">

</head>

<body class="h-screen">
	<div class="flex flex-col justify-center items-center flex-grow lg:text-xl sm:text-5xl md:text-5xl">

		<p class="lg:p-2 sm:p-5 text-green-500">Blogs~</p>

	</div>

	<div
		class="flex flex-col justify-center items-center flex-grow lg:h-[calc(100vh-88px)] sm:h-[calc(100vh-90px)]">

		<ul>

			{{range .P}}

			<li class="my-2 lg:text-xl md:text-5xl sm:text-5xl hover:text-yellow-500 underline"> <a class="p-2" href="/blog/{{.DashedTitle}}">
					{{.Date}}
					:: {{.Title}}</a> </li>

			{{end}}

		</ul>

	</div>

	<div class="flex flex-col justify-center items-center flex-grow lg:text-xl sm:text-5xl md:text-5xl">

		<p class="lg:p-2 sm:p-5 text-green-500 underline"><a href="/">Back home</a></p>

	</div>


	<style>
		li {

			color: #fafafa;

		}

	</style>

</body>

</html>
