<!DOCTYPE html>
<html>
	<head>
		<title>My Blog!</title>
		<link href="/static/blogstyle.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<h1>{{.Title}}</h1>
		<div class="markdown-body">{{.Content}}</div>
		<a href="/">Back home</a>
	</body>
</html>
