<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Blogs</title>
	<link href="/static/output.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="min-h-screen flex flex-col">
	<header class="py-4 lg:text-lg sm:text-2xl md:text-xl">
		<p class="text-center text-yellow-500">Blogs~</p>
	</header>
	<main class="flex-grow flex items-center justify-center overflow-y-auto py-8">
		<ul class="max-w-2xl w-full px-4 space-y-4 md:text-lg sm:text-xl lg:text-base">
			{{range .P}}
			<li class="hover:text-yellow-500 underline lg:leading-6 text-center"> 
				<a class="inline-block" href="/blog/{{.DashedTitle}}">
					<span class="block text-sm text-gray-400">{{.Date}}</span>
					<span class="block">{{.Title}}</span>
				</a> 
			</li>
			{{end}}
		</ul>
	</main>
	<footer class="py-4 lg:text-lg sm:text-xl md:text-lg">
		<p class="text-center text-yellow-500 underline"><a href="/">Back home</a></p>
	</footer>
	<style>
		body {
			color: #fafafa;
			background-color: #000000;
		}
	</style>
</body>
</html>
