<!DOCTYPE html>

<head>

	<title> icelain's blog </title>
	<link href="/static/output.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="h-screen">


	<nav class="nav font-medium lg:text-lg sm:text-5xl md:text-text-3xl">
		<ul class="flex items-center flex-row justify-center">
			<li
				class="lg:p-2 sm:p-5 text-green-500 duration-200 cursor-pointer hover:text-green-400 hover:underline active">
				<a href="/">Home</a>
			</li>
			<li class="lg:p-2 sm:p-5 text-green-500 duration-200 cursor-pointer hover:text-green-400 hover:underline">
				<a href="https://github.com/icelain">Projects</a>
			</li>
			<li class="lg:p-2 sm:p-5 text-green-500 duration-200 cursor-pointer hover:text-green-400 hover:underline">
				<a href="https://open.spotify.com/artist/1bWx8OEY8rvxUuw1F2vavp?si=5QDkaQoWRKaeF7Q7vtAsRg">Music</a>
			</li>
			<li class="lg:p-2 sm:p-5 text-green-500 duration-200 cursor-pointer hover:text-green-400 hover:underline">
				<a href="/blog">Blog</a>
			</li>
		</ul>
	</nav>
	<!-- navigation -->
	<div class="flex flex-1 items-center flex-col justify-center lg:h-[calc(100vh-48px)] sm:h-[calc(100vh-90px)]">


		<div class="flex flex-col justify-center items-center flex-grow lg:text-lg sm:text-4xl">

			<p class="text-neutral-200">This is icelain's personal website</p>
			<p class="text-neutral-200">Email <a class="text-green-500"
					href="mailto:xerneas965@gmail.com">xerneas965@gmail.com</a> or <a class="text-green-500"
					href="https://x.com/icelainl">@icelainl</a> on X</p>

		</div>
	</div>

</body>

<style>

</style>

</html>
