<!DOCTYPE HTML lang="en">

<head>

	<title> Blogs </title>
	<link href="/static/output.css" rel="stylesheet">

</head>

<body class="h-screen">
	<div class="flex flex-col justify-center items-center flex-grow lg:text-xl sm:text-5xl md:text-5xl">

		<p class="lg:p-2 sm:p-5 text-green-500">Music~</p>

	</div>

	<div
		class="flex flex-col justify-center items-center flex-grow lg:text-2xl md:text-4xl sm:text-4xl lg:h-[calc(100vh-88px)] sm:h-[calc(100vh-90px)]">

		<ul>


			<li class="bg-neutral-700 hover:bg-inherit rounded my-2"> <a class="p-2" href="/music/stream">

					Internet Radio

				</a> </li>

			<li class="bg-neutral-700 hover:bg-inherit rounded my-2"> <a class="p-2"
					href="https://open.spotify.com/artist/1bWx8OEY8rvxUuw1F2vavp?si=5QDkaQoWRKaeF7Q7vtAsRg">

					Spotify

				</a> </li>

			<li class="bg-neutral-700 hover:bg-inherit rounded my-2"> <a class="p-2"
					href="https://music.apple.com/us/artist/lqx/1671856240">

					Apple Music

				</a> </li>

			<li class="bg-neutral-700 hover:bg-inherit rounded my-2"> <a class="p-2"
					href="https://soundcloud.com/lqxmusic">

					Soundcloud

				</a> </li>

			<li class="bg-neutral-700 hover:bg-inherit rounded my-2"> <a class="p-2"
					href="https://music.amazon.com/artists/B0BVRRGLYW/lqx">

					Amazon Prime Music

				</a> </li>

			<li class="bg-neutral-700 hover:bg-inherit rounded my-2"> <a class="p-2"
					href="https://www.deezer.com/en/artist/201507857">

					Deezer

				</a> </li>


		</ul>

	</div>

	<div class="flex flex-col justify-center items-center flex-grow lg:text-xl sm:text-5xl md:text-5xl">

		<p class="lg:p-2 sm:p-5 text-green-500 underline"><a href="/">Back home</a></p>

	</div>


	<style>
		li {

			color: #fafafa;

		}

	</style>

</body>

</html>
