@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	@font-face{

	font-family: "GeistFont";
	src: url("/static/GeistMono-Regular.woff2") format("woff2");

	}

	@font-face{

		font-family: "vga8";
		src: url("/static/vga8.woff") format("woff");

	}

  html {
	font-family: "GeistFont" !important;
  }

  code {
	font-family: "vga8" !important;
  }

  body {

	background-color: #222;

  }

  pre, code {


	white-space: pre-wrap !important;
	overflow-wrap: break-word !important;
	overflow: visible !important;

  }

}
