@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	@font-face{

	font-family: "GeistFont";
	src: url("/static/GeistMono-Regular.woff2") format("woff2");

	}

  html {
    font-family: "GeistFont";
  }

  body {

	background-color: #222;

  }

  pre, code {


	white-space: pre-wrap !important;
	overflow-wrap: break-word !important;
	overflow: visible !important;

  }

}
