@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Iosevka";
        src: url("/static/iosevka.woff2") format("woff2");
    }

    @font-face {
        font-family: "Geist";
        src: url("/static/GeistMono-Regular.woff2") format("woff2");
    }

    html {
        font-family: "Geist" !important;
    }

    code {
		
		font-family: "Iosevka" !important;

    }


    html {
        background-color: "#000000" !important;
    }

    pre,
    code {
        white-space: pre-wrap !important;
        overflow-wrap: break-word !important;
        overflow: visible !important;
    }
}
